.navbarCSS{
  padding: 15px 24px;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start !important;
  width: 100%;
  margin-left: 0;
  position: relative;
  z-index: 200;
}



.navItemCSS{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Dark navbar adjustments */
.navbarCSS{
  background: transparent !important;
  color: var(--text);
}
.navTitle{
  font-weight:700;
  color:var(--text) !important;
  text-align: left !important;
  margin-left: 0 !important;
  margin-right: auto !important;
  flex-shrink: 0 !important;
  font-size: 32px !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
}

.navItemCSS .btn-primary{
  background: var(--accent) !important;
  border: none !important;
}


/* .custom-toggler.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  } */

/* 
  @media only screen and (max-width: 600px) {
    .navbarCSS {
        padding: 0px 0px !important;
    }
    .navTitle{
        font-size: 16px !important;
    }

  } */

